@charset "UTF-8";

/* 共通 */
html {
  /* 10pxが1remになる */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* 文字の間 */
  letter-spacing: 0.5rem;
  /* 行間 */
  line-height: 1.7;
  font-family: "Noto Sans JP , sans-serif";
  color: #333333;
  background-color: white;
}

.wrapper {
  margin: auto 100px;
}

/* ブラウザごとのデフォルトをリセットしておく */
* {
  margin: 0;
  padding: 0;
}

/* header */
.logo {
  font-family: "Tangerine", cursive;
  font-size: 4.8rem;
}

.nav-item {
  font-size: 1.6rem;
  /* リストの・が消える */
  list-style: none;
  /* 先頭の文字を大文字に変える */
  text-transform: capitalize;
  margin-left: 52px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  /* 縦の中央揃え */
  align-items: center;
}

.img-wrapper {
  width: 350px;
  height: 400px;
  margin-top: 60px;
}

img {
  width: 350px;
  height: 400px;
}
.fv-mainmsg {
  font-size: 4rem;
}

.fv-leading {
  width: 425px;
  margin-top: 21px;
}
.btn {
  display: block;
  width: 155px;
  height: 33px;
  margin-top: 40px;
  background-color: #8dbfbe;
  color: white;
  border-radius: 30px;
  /* リンクの下線を消すことができる */
  text-decoration: none;
  text-align: center;
}

.fv-inner {
  display: flex;
  /* 中の要素を下揃えにする 写真も含めたブロックに適用する*/
  align-items: flex-end;
  /* align-items: center; */
}

.fv-contents {
  margin-left: 90px;
}

.fv-bg {
  /* グラデーションを作る関数 */
  /* %は縦の割合 */
  background-image: linear-gradient(#f3ddd0 0% 50%, #fff 50% 100%);
}

/* 写真の自動遷移部分 */
.img-wrapper ul {
  position: relative;
}

.img-wrapper li {
  position: absolute;
  /* width: 100%; */
  list-style: none;
}

ul {
  list-style: none;
}

#mark ul li a {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b4b4b4;

  text-decoration: none;
  display: block;

  /* ここでの数字は場所の確認をしたいだけで、実際に表示しなくて良い */
  /* そのため大きさをごく小さくしておく */
  text-indent: -9999px;
}

#mark ul {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* 最後の数字以外に適用 */
#mark ul li:not(:last-child) {
  margin-right: 10px;
}

#mark ul li a.current {
  background-color: #333333;
}
